* {
  font-size: 1em;
  font-family: sans-serif;
  color: #000;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0df;
}

h2{
  width: 381px;
}
section{
  margin: 15px;
}
input{
  display: block;
}
